body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-image: url("./background.png");
  background-repeat: repeat;
}

.header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
}

.header p {
  background-color: white;
  padding: 0 20px;
  border-radius: 100px;
}

.registered-email {
  font-size: 0.5em;
  margin: 0 0 30px 0;
  padding: 10px;
}

.logo {
  background-color: white;
  padding: 15px;
  border-radius: 100px;
  box-shadow: 0 0 5px #aaa;
}

.artist-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
}

.section {
  font-size: 2.5em;
  font-weight: bold;
  padding: 20px 120px;
  background-color: white;
  border-radius: 100px;
}

.artist {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  border-radius: 4px;
  box-shadow: 0 0 5px #aaa;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 1.5em;
}

.rsvp,
.email-button {
  font-weight: bold;
  border: none;
  border-radius: 40px;
  width: 250px;
  padding: 10px;
  font-size: 1em;
  color: white;
  background-color: rgb(252, 163, 17);
  cursor: pointer;
  margin: 0 10px 10px;
}

.rsvp:focus,
.email-button:focus {
  outline: 0;
}

.modal {
  text-align: center !important;
}
